body {
  height: 200vh;
  min-width: 1200px;
  margin: 0;
  padding: 0; }

.page {
  height: 100vh; }
  .page_color_yellow {
    background-color: #fcdb00; }

.position_row {
  display: flex; }

.content {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.first-page-head {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .first-page-head__menu {
    width: 118px; }
  .first-page-head__logo {
    display: flex;
    align-items: center; }
  .first-page-head__logotext {
    font-size: 30px;
    font-family: "SourceSansPro", sans-serif;
    color: #222222;
    font-weight: bold;
    margin-left: 10px; }
  .first-page-head__social_connect {
    display: flex;
    width: 118px;
    justify-content: space-between; }

.central-content {
  height: 500px;
  width: 600px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
  .central-content__header {
    font-size: 48px;
    font-family: "SourceSansPro", sans-serif;
    color: #222222;
    font-weight: bold;
    margin-bottom: 19px;
    text-align: center; }
  .central-content__subheader {
    width: 490px;
    font-size: 20px;
    font-weight: normal;
    font-family: "SourceSansPro", sans-serif;
    color: #222222;
    text-align: center;
    margin-top: 0;
    margin-bottom: 41px; }
  .central-content__button {
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #010101;
    padding: 15px 70px 15px 70px;
    font-size: 22px;
    text-align: center;
    font-family: "SourceSansPro", sans-serif;
    color: #010101;
    font-weight: bold; }

.arrow {
  height: 85px;
  width: max-content;
  margin: 0 auto; }

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 165px; }
  .head__header {
    font-size: 32px;
    font-family: "SourceSansPro", sans-serif;
    color: #010101;
    margin-top: 70px;
    font-weight: bold;
    text-align: center; }
  .head__subheader {
    font-size: 20px;
    font-family: "SourceSansPro", sans-serif;
    color: #898989;
    margin-top: 12px;
    width: 714px;
    text-align: center; }

.features-grid {
  height: 300px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .features-grid-row {
    display: flex;
    justify-content: space-between; }
    .features-grid-row__image {
      width: 55px;
      display: flex;
      justify-content: center;
      align-self: flex-start; }
    .features-grid-row__header {
      font-size: 22px;
      font-family: "SourceSansPro", sans-serif;
      color: #010101;
      font-weight: bold;
      margin-left: 20px;
      margin-bottom: 10px; }
    .features-grid-row__subheader {
      font-size: 16px;
      font-family: "SourceSansPro", sans-serif;
      color: #898989;
      width: 250px;
      margin-left: 20px; }

.pricing-table {
  margin-top: auto;
  margin-bottom: auto;
  width: 750px;
  display: flex;
  justify-content: space-between; }
  .pricing-table-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; }
    .pricing-table-details__ellips {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      .pricing-table-details__ellips_gray {
        background-color: #ebebeb; }
      .pricing-table-details__ellips_black {
        background-color: #010101; }
    .pricing-table-details__header {
      font-size: 24px;
      font-family: "SourceSansPro", sans-serif;
      color: #010101;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    .pricing-table-details__subheader {
      font-size: 14px;
      font-family: "SourceSansPro", sans-serif;
      color: #898989;
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px; }
    .pricing-table-details__price {
      font-size: 29px;
      font-family: "SourceSansPro", sans-serif;
      color: #010101;
      font-weight: 780;
      text-align: center;
      margin: 0; }
    .pricing-table-details__price-month {
      font-size: 16px;
      font-family: "SourceSansPro", sans-serif;
      color: #898989;
      text-align: center;
      margin-top: 10px; }
    .pricing-table-details__btn {
      margin-top: 40px;
      background-color: transparent;
      border-width: 2px;
      border-color: #010101;
      border-style: solid;
      padding: 15px;
      font-size: 15px;
      text-align: center;
      font-family: "SourceSansPro", sans-serif;
      color: #010101;
      font-weight: 800; }
