body {
  /* width: 100vw; */
  height: 200vh;
  min-width: 1200px;
  /* width: 100vw; */
  margin: 0;
  padding: 0;
}

.page {
  /* min-width: 1200px; */
  /* width: 100%; */
  height: 100vh;
}

.page_color_yellow {
  background-color:#fcdb00;
}

.content{
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
    
}

.first-page-head{
  height: 95px;
  display:flex;
  /* height: 94.44px; */
  justify-content: space-between;
  align-items: center;
}

.first-page-head__menu {
width: 118px;
}

.first-page-head__logo {
  display:flex;
  align-items: center;
}

.first-page-head__logotext {
  font-size: 30px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
  margin-left: 10px;
  
}

.first-page-head__social_connect {
  display: flex;
  width: 118px; 
  justify-content: space-between;
}

.central-content {
  height: 500px;
  width: 600px;
  /*height: calc(100vh - 94.44px);*/
  margin-bottom: 54px;
  display:flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: bisque; */
  margin: 0 auto;
}

.central-content__header {
font-size: 48px;
font-family: "SourceSansPro", sans-serif;
color: rgb(34, 34, 34);
font-weight: bold;
margin-bottom: 19px;
text-align: center;
}

.central-content__subheader {
  width: 490px;
  font-size: 20px;
  font-weight: normal;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(34, 34, 34);
  text-align: center;
  margin-top: 0;
  margin-bottom: 41px;
}

.central-content__button {
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 0, 0);
  /* max-width: 350px; */
  /* height: 56px; */ 
  padding: 15px 70px 15px 70px;
  font-size: 22px;
  text-align: center;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(1, 1, 1);
  font-weight: bold;
}

.arrow{
  height: 85px;
  width: max-content;
  margin: 0 auto;
}

.features-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 235px;

}

.features-head__header{
  font-size: 32px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(1, 1, 1);
  font-weight: bold;
  text-align: center;
}

.features-head__subheader {
  font-size: 20px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(137, 137, 137);
  margin-top: 12px;
  width: 714px;
  text-align: center;
}

.features-grid {
  vertical-align: middle;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-grid-row {
  display: flex;
  justify-content: space-between;
 }

.position_row {
  display: flex;
 }

.features-grid-row__image {
  width: 55px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.features-grid-row__header {
  font-size: 22px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(1, 1, 1);
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}

.features-grid-row__subheader{
  font-size: 16px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(137, 137, 137);
  width: 250px;
  margin-left: 20px;
}

 