@charset "UTF-8";
body {
  height: 200vh;
  min-width: 1200px;
  margin: 0;
  padding: 0; }

body, textarea {
  font-family: "SourceSansPro", sans-serif; }

.font__header {
  color: #222222;
  font-weight: bold; }

.font__subheader {
  color: #898989; }

.btn {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  text-align: center;
  color: #222222;
  font-weight: bold; }

.page {
  height: 100vh; }
  .page_color_yellow {
    background-color: #fcdb00; }

.position_row {
  display: flex; }

.content {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .content-central {
    height: 500px;
    width: 600px;
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .content-central__header {
      font-size: 48px;
      margin-bottom: 19px;
      text-align: center; }
    .content-central__subheader {
      width: 490px;
      font-size: 20px;
      font-weight: normal;
      color: #222222;
      text-align: center;
      margin-top: 0;
      margin-bottom: 41px; }
    .content-central__button {
      padding: 15px 70px;
      font-size: 22px; }

.first-page-head {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .first-page-head__menu {
    width: 118px; }
  .first-page-head__logo {
    display: flex;
    align-items: center; }
  .first-page-head__logotext {
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    margin-left: 10px; }
  .first-page-head__social_connect {
    display: flex;
    width: 118px;
    justify-content: space-between; }

.arrow {
  height: 85px;
  width: max-content;
  margin: 0 auto; }

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 165px; }
  .head__header {
    font-size: 32px;
    margin-top: 70px;
    text-align: center; }
  .head__subheader {
    font-size: 20px;
    margin-top: 12px;
    width: 714px;
    text-align: center; }

.features-grid {
  height: 300px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .features-grid-row {
    display: flex;
    justify-content: space-between; }
    .features-grid-row__image {
      width: 55px;
      display: flex;
      justify-content: center;
      align-self: flex-start; }
    .features-grid-row__header {
      font-size: 22px;
      margin-left: 20px;
      margin-bottom: 10px; }
    .features-grid-row__subheader {
      font-size: 16px;
      width: 250px;
      margin-left: 20px; }

.pricing-table {
  margin-top: auto;
  margin-bottom: auto;
  width: 750px;
  display: flex;
  justify-content: space-between; }
  .pricing-table-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; }
    .pricing-table-details__ellips {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      .pricing-table-details__ellips_gray {
        background-color: #ebebeb; }
      .pricing-table-details__ellips_black {
        background-color: #010101; }
    .pricing-table-details__header {
      font-size: 24px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    .pricing-table-details__subheader {
      font-size: 14px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px; }
    .pricing-table-details__price {
      font-size: 29px;
      text-align: center;
      margin: 0; }
    .pricing-table-details__price-month {
      font-size: 16px;
      text-align: center;
      margin-top: 10px; }
    .pricing-table-details__btn {
      margin-top: 40px;
      font-size: 15px;
      font-weight: 800;
      padding: 15px 20px; }
    .pricing-table-details__line {
      width: 50px;
      margin: auto;
      height: 2px;
      background: #010101; }

.contact {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact-row {
    margin-top: 20px;
    width: 700px;
    height: 170px;
    display: flex;
    justify-content: space-between; }
    .contact-row-information {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .contact-row-information__img {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        .contact-row-information__img-icon {
          height: 22px; }
      .contact-row-information__header {
        margin-top: 20px;
        height: 30px;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center; }
      .contact-row-information__subheader {
        height: 30px;
        display: flex;
        justify-content: center;
        font-size: 13px;
        text-align: center;
        width: 170px; }
  .contact-form {
    margin-top: 20px;
    width: 480px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .contact-form-input {
      width: 480px;
      border: 2px solid #010101;
      font-size: 15px;
      padding: 18px;
      text-align: start;
      color: #010101;
      margin-bottom: 0; }
      .contact-form-input__message {
        height: 100px; }
    .contact-form__btn {
      border: none;
      background-color: #010101;
      color: #ebebeb;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      padding: 20px 30px;
      margin-bottom: 30px; }
    .contact-form__error {
      height: 20px;
      margin-top: 0;
      color: red;
      font-size: 15px;
      display: flex; }

#content_quotes {
  justify-content: center; }

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px; }
  .quotes__del {
    align-self: flex-start;
    text-align: center;
    color: rgba(175, 175, 175, 0.8);
    font-size: 18px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    margin-left: 10px; }
  .quotes__del:hover {
    color: rgba(44, 44, 44, 0.6); }
  .quotes-mark {
    display: flex; }
    .quotes-mark:before, .quotes-mark:after {
      font-size: 50px;
      color: #898989; }
    .quotes-mark:before {
      content: "❝";
      float: left;
      margin-right: 30px; }
    .quotes-mark:after {
      content: "❞";
      float: right;
      margin-left: 30px;
      align-self: flex-end; }
    .quotes-mark__text {
      max-width: 500px;
      font-size: 20px;
      text-align: center; }

.edit-comment {
  width: 400px;
  border: 2px solid #898989;
  font-size: 20px;
  padding: 18px;
  text-align: start;
  color: #010101; }

.window {
  position: fixed;
  display: flex;
  padding: 15px;
  color: #5c5c5c;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fefeff;
  box-shadow: 2px 3px 8px #777;
  -moz-box-shadow: 2px 3px 8px #777;
  -webkit-box-shadow: 2px 3px 8px #777; }

::-webkit-scrollbar-corner {
  visibility: unset; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(59, 59, 59, 0.6); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(32, 32, 32, 0.6); }

::-webkit-scrollbar {
  width: 11px; }
