body {
  height: 200vh;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body, textarea{
  
  font-family: "SourceSansPro", sans-serif;
}

.font{
  &__header{
    color: rgb(34, 34, 34);
    font-weight: bold;
  }
  &__subheader{
    color: rgb(137, 137, 137);
  }
}

.btn{
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(34, 34, 34);
  text-align: center;
  color: rgb(34, 34, 34);
  font-weight: bold; 
}

.page {
  height: 100vh;
  &_color_yellow {
    background-color:#fcdb00;
  }
}

.position_row {
  display: flex;
 }

.content{
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &-central {
    height: 500px;
    width: 600px;
    margin-bottom: 54px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    &__header {
      font-size: 48px;
      margin-bottom: 19px;
      text-align: center;}
    &__subheader {
      width: 490px;
      font-size: 20px;
      font-weight: normal;
      color: rgb(34, 34, 34);
      text-align: center;
      margin-top: 0;
      margin-bottom: 41px;}
    &__button {
      padding: 15px 70px;
      font-size: 22px;
    
  }
}
}

.first-page-head{
  height: 95px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    width: 118px;}
  &__logo {
    display:flex;
    align-items: center;}
  &__logotext {
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin-left: 10px;}
  &__social_connect {
    display: flex;
    width: 118px; 
    justify-content: space-between;}
  
  
}

.arrow{
  height: 85px;
  width: max-content;
  margin: 0 auto;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 165px;
  &__header{
    font-size: 32px;
    margin-top: 70px;
    text-align: center;}
  &__subheader {
    font-size: 20px;
    margin-top: 12px;
    width: 714px;
    text-align: center;}
}


.features-grid {
  height: 300px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-row {
    display: flex;
    justify-content: space-between;
    &__image {
      width: 55px;
      display: flex;
      justify-content: center;
      align-self: flex-start;}
    &__header {
      font-size: 22px;
      margin-left: 20px;
      margin-bottom: 10px;}
    &__subheader{
      font-size: 16px;
      width: 250px;
      margin-left: 20px;}
   }
}


.pricing{
&-table{
  margin-top: auto;
  margin-bottom: auto;
  width: 750px;
  display: flex;
  justify-content: space-between;
  &-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    &__ellips {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      &_gray {        
      background-color:  rgb(235, 235, 235);}
      &_black {        
        background-color:  rgb(1, 1, 1);}
    }
    &__header{
      font-size: 24px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;}
    &__subheader{
      font-size: 14px;
      text-align: center;
      margin-top:0;
      margin-bottom: 40px;}
    &__price {
      font-size: 29px;
      text-align: center;
      margin:0}
    &__price-month{
      font-size: 16px;
      text-align: center;
      margin-top: 10px;}
    &__btn {
      margin-top: 40px;
      font-size: 15px;
      font-weight: 800;
      padding: 15px 20px;
    }
    &__line{
      width:50px;
      margin: auto;
      height: 2px;
      background: rgb(1, 1, 1);
    }
  }
}
}

.contact{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-row{
    margin-top: 20px;
    width: 700px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    &-information{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__img{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &-icon{
          height: 22px;
        }
      }
      &__header{
        margin-top: 20px;
        height: 30px;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
      }
      &__subheader{
        height: 30px;
        display: flex;
        justify-content: center;
        font-size: 13px;
        text-align: center;
        width: 170px;
      }
    }
  }
  &-form{
    margin-top:20px;
    width: 480px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    &-input{
      width: 480px;
      border: 2px solid rgb(1, 1, 1);
      // font-family: $font;
      font-size: 15px;
      padding: 18px;
      text-align: start;
      color: rgb(1, 1, 1);
      margin-bottom: 0;
      &__message{
        height: 100px;
      }
    }
    &__btn{
      border: none;
      background-color:rgb(1, 1, 1);
      color: rgb(235, 235, 235);
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      padding: 20px 30px;
      margin-bottom: 30px;
    }
    &__error{
      height: 20px;
      margin-top: 0;
      color: rgb(255, 0, 0);
      font-size: 15px;
      display: flex;
    }
  }
}

.quotes{
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 650px;
  // margin-top:100px;
  margin-top: 40px;
  &__del{
    align-self: flex-start;
    text-align: center;
    color: rgba(175, 175, 175, 0.8);
    font-size: 18px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    margin-left: 10px;
  }
  &__del:hover{
    color: rgba(44, 44, 44, 0.6);
    // font-weight: bold;
  }
  &-mark{
    display: flex;
    &:before, &:after{
      font-size: 50px;
      color: rgb(137, 137, 137);
    }
    &:before{
      content:"❝";
      float: left;
      margin-right: 30px;
    }
    &:after{
      content:"❞";
      float: right;
      margin-left: 30px;
      align-self: flex-end;
    }
    &__text{
      max-width: 500px;
      font-size: 20px;
      text-align: center;
    }
  }
}



.edit-comment{
  width: 400px;
  // height: 50px;
  border: 2px solid rgb(137, 137, 137);
  font-size: 20px;
  padding: 18px;
  text-align: start;
  color: rgb(1, 1, 1);
}

.window{
  position: fixed;
  display: flex;
  padding:15px;
  color: rgb(92, 92, 92);
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fefeff;
  box-shadow: 2px 3px 8px #777;
    -moz-box-shadow: 2px 3px 8px #777;
    -webkit-box-shadow: 2px 3px 8px #777;

}

::-webkit-scrollbar-corner { 
  visibility: unset;
} 

::-webkit-scrollbar-thumb { 
  -webkit-border-radius: 20px; 
  border-radius: 20px; 
  background-color:rgba(59, 59, 59, 0.6);
} 

::-webkit-scrollbar-thumb:hover{
  background-color:rgba(32, 32, 32, 0.6);
}

::-webkit-scrollbar{ 
  width: 11px; 
}
